link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/paper-card/paper-card.html")
link(rel="import" href="rf-card.html")

dom-module#rf-card-area
  link(rel="import" type="css" href="css/rf-card-area.css")
  template

    div.items
      template(is="dom-repeat" items="[[feeds]]" as="feed")
        rf-card.item(feed="[[feed]]")

script(type="text/javascript" src="js/rf-card-area.js")
