.items {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;

  & .item {
    flex: 1 0 400px;
    box-sizing: border-box;
    margin: 10px;
  }
}

@media (min-width: 820px) {
  .items .item {
    max-width: ~"calc(50% - 20px)";
  }
}

@media (min-width: 1240px) {
  .items .item {
    max-width: ~"calc(33.33333% - 20px)";
  }
}

@media (min-width: 1660px) {
  .items .item {
    max-width: ~"calc(25% - 20px)";
  }
}

@media (min-width: 2080px) {
  .items .item {
    max-width: ~"calc(20% - 20px)";
  }
}
