link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/paper-card/paper-card.html")
link(rel="import" href="bower_components/paper-button/paper-button.html")

dom-module#rf-card-area
  link(rel="import" type="css" href="css/rf-card-area.css")
  template

    div.module-card-wrap
      template(is="dom-repeat" items="[[cards]]" as="card")
        paper-card.module-card(heading="Card Title")
          div.card-content Some content [[card]]
          div.card-actions
            paper-button Some action

script(type="text/javascript" src="js/rf-card-area.js")
