link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/paper-card/paper-card.html")
link(rel="import" href="bower_components/paper-fab/paper-fab.html")
link(rel="import" href="bower_components/iron-icons/iron-icons.html")
link(rel="import" href="rf-card.html")

dom-module#rf-card-area
  template
    style
      include ../../../output/frontend/css/rf-card-area.css

    div.items
      template#cards(is="dom-repeat" items="[[feeds]]" as="feed" sort="_feedSort")
        rf-card.item(feed="[[feed]]" draggable="true" style$="opacity: [[_getCardOpacity(feed.dragging)]]")

    paper-fab#newFeed(icon="icons:add")

    paper-dialog#cardChoice
      h2 Select the card type
      paper-button.newCard(raised card-type="rss") RSS
      br
      paper-button.newCard(raised card-type="youtube") Youtube
      br
      paper-button.newCard(raised card-type="hackernews") Hacker News

script(type="text/javascript" src="js/rf-card-area.js")
