link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="hiw-wallpaper-carousel.html")

dom-module#hiw-app
  template
    hiw-wallpaper-carousel(source="bing")

script(type="text/javascript" src="js/hiw-app.js")
