link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/google-feeds/google-feeds.html")
link(rel="import" href="rf-rss-item.html")

dom-module#rf-rss-feed
  link(rel="import" type="css" href="css/rf-rss-feed.css")
  template

    template(is="dom-repeat" items="[[feed.urls]]" as="url")
      google-feeds.feed(feed='[[url]]')

    div.item-list
      ul
        template(is="dom-repeat" items="[[entries]]" as="entry")
          li
            rf-rss-item(entry="[[entry]]")

script(type="text/javascript" src="js/rf-rss-feed.js")
