link(rel="import" href="bower_components/polymer/polymer.html")
script(src="bower_components/rss-parser/dist/rss-parser.js")

dom-module#rf-rss-feed

script(type="text/javascript" src="js/rf-rss-feed.js")

