:host {
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #aaa;
  text-decoration: none;
}

a:hover, a:active {
  color: #aaa;
}

.time {
  color: #ccc;
  font-size: 10px;
  margin-left: 3px;
}

.snippet {
  color: #ccc;
  font-size: 10px;
  line-height: 100%;
}

.container {
  display: flex;
}

paper-icon-button {
    height: 20px;
    padding: 0px;
}

.nostar {
  flex: 0 0 auto;
  width: 40px;

  & paper-icon-button {
    color: transparent;
  }
}

.star {
  flex: 0 0 auto;
  width: 40px;

  & paper-icon-button {
    color: transparent;
  }

  & paper-icon-button:hover {
    color: grey;
  }
}

.starred {
  flex: 0 0 auto;
  width: 40px;

  & paper-icon-button {
    color: white;
  }
}

.thumb {
  flex: 0 0 40px;
  overflow: hidden;
  margin-right: 5px;

  & img {
    width: 40px;
    height: 40px;
  }
}

.text {
  flex: 1 0;
}

.new {
    font-weight: bold;
}