link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/google-feeds/google-feeds.html")

dom-module#rf-wallpaper-carousel
  link(rel="import" type="css" href="css/rf-wallpaper-carousel.css")
  template
    google-feeds(feed='[[sourceFeed]]' results='{{feed}}')
    div#bg
      img(src$="[[imgUrl]]")

script(type="text/javascript" src="js/rf-wallpaper-carousel.js")
