link(rel="import" href="bower_components/polymer/polymer.html")

dom-module#hello-world
  link(rel="import" type="css" href="css/hello-world.css")
  template
    p Hello [[who]]

script(type="text/javascript" src="js/hello-world.js")
