link(rel="import" href="bower_components/polymer/polymer.html")

dom-module#rf-list-item
  template
    style
      include ../../../output/frontend/css/rf-list-item.css

    div.container
      div(class$="[[_getStarClass(item.starred)]]")
        paper-icon-button#star(icon="icons:star" hidden$="[[!auth]]")
      div.thumb(hidden$="[[!item.image]]")
        a(target="_blank" href="[[item.imageLink]]")
          img(src="[[item.image]]")
      div.text
        a(class$="[[newItem]]" target="_blank" href="[[item.titleLink]]") [[item.title]]
        span.time [[_formatDate(item.date)]]
        div.snippet
          a(hidden$="[[!_showSnippetLink(item.snippetLink)]]" target="_blank" href="[[item.snippetLink]]") [[_formatSnippet(item.snippet)]]
          span(hidden$="[[_showSnippetLink(item.snippetLink)]]") [[_formatSnippet(item.snippet)]]

script(type="text/javascript" src="js/rf-list-item.js")
