doctype html
html
  head
    meta(charset="utf-8")
    title Home In Web
    script(src="bower_components/webcomponentsjs/webcomponents-lite.min.js")
    link(rel="import" href="bower_components/polymer/polymer.html")
    link(rel="import" href="bower_components/polymer-ts/polymer-ts.html")
    link(rel="import" href="hiw-app.html")
    link(rel="import" href="hello-world.html")
    link(rel="stylesheet" type="text/css" href="css/main.css")
  body
    hiw-app
    hello-world(who="Polymer")
