link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/paper-toolbar/paper-toolbar.html")
link(rel="import" href="bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="bower_components/iron-icons/iron-icons.html")
link(rel="import" href="rf-wallpaper-carousel.html")
link(rel="import" href="rf-settings-dialog.html")

dom-module#rf-app
  link(rel="import" type="css" href="css/rf-app.css")
  template
    rf-wallpaper-carousel(source="[[source]]")

    paper-toolbar
      div.title Rainfeeds
      paper-icon-button#settingsButton(icon="icons:settings")

    rf-settings-dialog#settingsDialog(source="{{source}}")

script(type="text/javascript" src="js/rf-app.js")
