link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html")
link(rel="import" href="bower_components/paper-toolbar/paper-toolbar.html")
link(rel="import" href="bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="bower_components/iron-icons/iron-icons.html")
link(rel="import" href="rf-wallpaper-carousel.html")
link(rel="import" href="rf-settings-dialog.html")
link(rel="import" href="rf-card-area.html")

dom-module#rf-app
  link(rel="import" type="css" href="css/rf-app.css")
  template
    rf-wallpaper-carousel(source="[[source]]" blur-image="[[!showBackground]]")

    paper-scroll-header-panel(fixed)
      paper-toolbar
        div.title Rainfeeds
        paper-icon-button#bgButton(icon="icons:dashboard")
        paper-icon-button#settingsButton(icon="icons:settings")

      div.content
        rf-card-area(hidden$="[[showBackground]]")

    rf-settings-dialog#settingsDialog(source="{{source}}")

script(type="text/javascript" src="js/rf-app.js")
