:host {
  --paper-toolbar-background: rgba(0, 0, 0, 0.5);
  --paper-toolbar-color: white;
  --paper-toolbar-height: 40px;
  --paper-toolbar-sm-height: 30px;

  & paper-progress {
      width: 100%;
  }
}
