link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/paper-header-panel/paper-header-panel.html")
link(rel="import" href="bower_components/iron-label/iron-label.html")
link(rel="import" href="bower_components/iron-input/iron-input.html")
link(rel="import" href="bower_components/iron-icons/iron-icons.html")
link(rel="import" href="rf-list.html")
link(rel="import" href="rf-list-settings.html")

dom-module#rf-card
  template
    style
      include ../../../output/frontend/css/rf-card.css
    div(style$="background-color: rgba([[_generateColor(feed.name)]], 0.5)")
      paper-header-panel
        div.paper-header
          div.text [[feed.name]]
          paper-icon-button#showStarred(hidden$="[[!auth]]" icon="[[_getShowStarredIcon(showStarred)]]")
          paper-icon-button#showSettings(hidden$="[[!auth]]" icon="icons:settings")
          paper-icon-button#closeCard(hidden$="[[!auth]]" icon="icons:close")
        div.paper-header#settings(hidden$="[[!showSettings]]")
          rf-list-settings#rfSettings(feed="{{feed}}")

      div.content
        rf-list(feed="[[feed]]" auth="{{auth}}" show-starred="[[showStarred]]")

    paper-dialog#confirmation
      h2 Delete Card?
      p Are you sure you want to delete the card "[[feed.name]]"?
      div.buttons
        paper-button(dialog-dismiss) No
        paper-button#confirmButton(dialog-confirm) Delete

script(type="text/javascript" src="js/rf-card.js")
