link(rel="import" href="bower_components/polymer/polymer.html")
link(rel="import" href="bower_components/paper-card/paper-card.html")
link(rel="import" href="rf-rss-feed.html")

dom-module#rf-card
  link(rel="import" type="css" href="css/rf-card.css")
  template
    paper-card(heading="[[title]]")
      div.card-content
        rf-rss-feed(title="{{title}}" feed="[[feed]]")

script(type="text/javascript" src="js/rf-card.js")
